[Unit]
Description=Backup to Baidu Pan
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=your_user
WorkingDirectory=/path/to/backup-to-baidu
ExecStart=/path/to/backup-to-baidu /path/to/backup.toml
Restart=no

